body {
    background-color:  rgb(2, 149, 202);
}

text.left {
    font-family: Arial;
    font-size: 150%;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    left: 10%;
    right: 60%;
    bottom: 4%;
}

text.right {
    font-family: Arial;
    font-size: 150%;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    left: 60%;
    right: 10%;
    bottom: 4%;
    text-align: right;
}

button {
    background-color: rgb(120, 214, 254);
    padding: 1% 0% 1% 0%;
    border: rgb(120, 214, 254);
    border-radius: 20%;
    cursor: pointer;
    width: 11%;
}

button.jb {
    position: absolute;
    left: 12%;
    bottom: 14%;
    transform: scaleX(-1);
    box-shadow: -6px 6px 1px rgb(0, 30, 112);
}

button.vb {
    position: absolute;
    right: 12%;
    bottom: 14%;
    box-shadow: 6px 6px 1px rgb(0, 30, 112);
}


button:hover{
    background-color: aliceblue;
}

h1 {
    font-family: Arial;
    font-size: 300%;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    left: 28%;
    right: 30%;
    top: 5%;
    text-align: center;
    text-shadow: 3px 3px 1px rgb(255, 0, 43)
}

.num {
    font-size: 125%;
    text-shadow: 3px 3px 1px rgb(120, 214, 254)
}

.love {
    text-shadow: 2px 2px 1px rgb(255, 0, 43)
}

.leftimage {
    position: absolute;
    left: 8.5%;
    bottom: 35%;
    transform-origin: center center;
}

.rightimage {
    position: absolute;
    right: 8.5%;
    bottom: 35%;
    transform-origin: center center;
}